
.star{
    float: left;
    width: 390px;
    height: 500px;
}

.one, .two, .three, .four, .fife{
    background: url(IMG/star0.png);
    width: 76px;
    height: 78px;
    float: right;
    background-repeat: no-repeat;
}

.one:hover, .two:hover, .three:hover, .four:hover, .fife:hover{
    background: url(IMG/star1.png);
    background-repeat: no-repeat;
}


div:hover ~ div:nth-last-of-type(n+1)
{
    background: url(IMG/star1.png);
    background-repeat: no-repeat;} 

