@media all and (max-width:772px){ 

   

    .about-us{
        .row{
            
            // .col-3{
            //   .menu{
            //       .submenu{
            //           display: none;
            //       }
                
            //   }
            //   #aboutUs:hover #submenu1{
            //       display: block;
            //   }
            //   #services:hover #submenu2{
            //     display: block;
            // }
                 
            // }
            .col-9{
                border: none;
                text-align: center;
                .row{
                    flex-direction: column;
                    align-items: center;
                    .col{
                        text-align: center;
                    }
                }
               
            }
        }
    }
}