* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Nunito", sans-serif;
  height: 1000px; }

a {
  text-decoration: none;
  color: #000000;
  font-family: "Nunito", sans-serif;
  font-weight: 700; }

li {
  list-style-type: none; }

header {
  background-image: url(../IMG/bg-header-inner.jpg);
  background-size: cover;
  background-position: 50% top;
  padding-bottom: 25px; }
  header #headMenu {
    z-index: 1;
    padding-left: 0;
    position: absolute;
    background: gray;
    left: -200px;
    -webkit-transition: 0.7s;
    transition: 0.7s; }
    header #headMenu li {
      border: none;
      border-radius: 30px;
      position: relative;
      padding-right: 10px; }
      header #headMenu li a {
        font-size: 22px;
        font-weight: 700;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-left: 28px;
        border-radius: 30px;
        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s; }
      header #headMenu li a:hover {
        background-color: #e53a81;
        color: #FFFFFF; }
      header #headMenu li .btn-primary {
        color: #000000; }
      header #headMenu li .submenu a {
        font-size: 12px;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 600;
        border-bottom: solid; }
      header #headMenu li .submenu a:hover {
        background: #e53a81; }
  header #button-menu {
    position: absolute;
    right: 45px;
    top: 25px;
    width: 30px;
    height: 30px;
    display: none; }
    header #button-menu button {
      width: 100%;
      position: absolute; }
    header #button-menu #open {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 30px; }
    header .logo ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 10px; }
      header .logo ul li {
        font-size: 17px;
        position: relative; }
        header .logo ul li a {
          font-size: 20px;
          padding: 8px; }
    header .logo .topmenu a:hover {
      color: #ff5656; }
    header .logo .topmenu ul {
      position: absolute;
      left: -9999px;
      opacity: 1;
      margin-top: 0px;
      padding-top: 8px; }
      header .logo .topmenu ul li {
        background: -webkit-gradient(linear, left top, left bottom, from(#ababab), to(#FFFFFF));
        background: linear-gradient(#ababab, #FFFFFF);
        margin-bottom: 2px;
        border-radius: 5px; }
      header .logo .topmenu ul li:hover {
        background: #e53a81; }
      header .logo .topmenu ul li:hover a {
        color: #FFFFFF; }
      header .logo .topmenu ul a {
        white-space: nowrap;
        font-size: 15px;
        font-family: "Nunito", sans-serif;
        font-weight: 400; }
    header .logo .topmenu li:hover ul {
      left: -25px;
      opacity: 1;
      display: block; }
    header .logo .menu {
      margin-left: -30px; }
      header .logo .menu .phone {
        float: right;
        margin-top: 21px; }
        header .logo .menu .phone p {
          font-family: "Source Sans Pro", sans-serif;
          color: #000000;
          font-family: "Nunito", sans-serif;
          font-weight: 300;
          padding-left: 48px; }
        header .logo .menu .phone a {
          font-family: "Nunito", sans-serif;
          font-weight: 600;
          font-size: 25px;
          color: #e53a81; }

.col-3 {
  margin-top: 40px; }
  .col-3 ul {
    padding-left: 0; }
    .col-3 ul li {
      border: solid 1px white;
      border-radius: 30px;
      position: relative; }
      .col-3 ul li #fas1 {
        font-size: 30px;
        position: absolute;
        top: 13px;
        left: 217px;
        display: none; }
      .col-3 ul li #fas2 {
        font-size: 30px;
        position: absolute;
        top: 13px;
        left: 217px;
        display: none; }
      .col-3 ul li a {
        font-size: 26px;
        font-weight: 700;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        background: #e8e8ea;
        padding: 5px;
        padding-left: 28px;
        border: solid 1px white;
        border-radius: 30px;
        text-shadow: 1px 1px 3px grey;
        -webkit-box-shadow: 5px 5px 7px lightgray;
                box-shadow: 5px 5px 7px lightgray;
        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s; }
      .col-3 ul li a:hover {
        background-color: #e53a81;
        color: #FFFFFF; }
      .col-3 ul li .btn-primary {
        color: #000000; }
      .col-3 ul li .submenu a {
        font-size: 15px;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 600;
        border-radius: 10px;
        background: linear-gradient(45deg, #c7b9ff, transparent); }
      .col-3 ul li .submenu a:hover {
        background: #e53a81; }

iframe {
  width: 100%;
  margin-top: 65px; }

.logo-footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo-footer .logo i {
    color: #e53a81;
    font-size: 25px;
    margin-right: 10px; }
  .logo-footer .logo div, .logo-footer .logo img[alt=logo] {
    padding: 30px; }
  .logo-footer .logo p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: #000000; }
  .logo-footer .logo a {
    color: #ff5656; }
  .logo-footer .logo .phone > a {
    font-weight: 600;
    font-size: 25px;
    color: #e53a81; }

footer {
  background: #3b2e3b; }
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    footer .footer .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 18px; }
      footer .footer .menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        footer .footer .menu ul li {
          padding-right: 20px;
          font-size: 17px; }
          footer .footer .menu ul li a {
            color: #FFFFFF;
            font-weight: 400; }
    footer .footer i {
      font-size: 25px;
      color: #FFFFFF;
      padding-left: 10px; }
  footer h6 {
    color: #FFFFFF;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-left: 31px; }

/*# sourceMappingURL=style-general.css.map */