* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Nunito", sans-serif; }

a {
  text-decoration: none;
  color: #000000;
  font-family: "Nunito", sans-serif;
  font-weight: 700; }

li {
  list-style-type: none; }

header {
  background-image: url(../IMG/bg-header.jpg);
  background-size: cover;
  background-position: 50% top; }
  header #headMenu {
    z-index: 1;
    padding-left: 0;
    position: fixed;
    background: #e7e7e9;
    left: -200px;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    border-radius: 4px; }
    header #headMenu li {
      border: none;
      border-radius: 30px;
      position: relative;
      padding-right: 10px; }
      header #headMenu li a {
        font-size: 22px;
        font-weight: 700;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-left: 28px;
        border-radius: 30px;
        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s; }
      header #headMenu li a:hover {
        background-color: #e53a81;
        color: #FFFFFF; }
      header #headMenu li .btn-primary {
        color: #000000; }
      header #headMenu li .submenu a {
        font-size: 12px;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 600;
        border-bottom: solid; }
      header #headMenu li .submenu a:hover {
        background: #e53a81; }
  header #button-menu {
    position: fixed;
    right: 14px;
    top: 20px;
    width: 30px;
    height: 30px;
    display: none; }
    header #button-menu button {
      width: 100%;
      position: absolute;
      color: #e53a81;
      font-size: 18px; }
    header #button-menu #open {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 30px; }
    header .logo ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 10px; }
      header .logo ul li {
        font-size: 17px;
        position: relative; }
        header .logo ul li a {
          font-size: 20px;
          padding: 8px; }
    header .logo .topmenu a:hover {
      color: #ff5656; }
    header .logo .topmenu ul {
      position: absolute;
      left: -9999px;
      opacity: 1;
      margin-top: 0px;
      padding-top: 8px; }
      header .logo .topmenu ul li {
        background: -webkit-gradient(linear, left top, left bottom, from(#ababab), to(#FFFFFF));
        background: linear-gradient(#ababab, #FFFFFF);
        margin-bottom: 2px;
        border-radius: 5px; }
      header .logo .topmenu ul li:hover {
        background: #e53a81; }
      header .logo .topmenu ul li:hover a {
        color: #FFFFFF; }
      header .logo .topmenu ul a {
        white-space: nowrap;
        font-size: 15px;
        font-family: "Nunito", sans-serif;
        font-weight: 400; }
    header .logo .topmenu li:hover ul {
      left: -25px;
      opacity: 1;
      display: block; }
    header .logo .menu {
      margin-left: -30px; }
      header .logo .menu .phone {
        float: right;
        margin-top: 21px; }
        header .logo .menu .phone p {
          font-family: "Source Sans Pro", sans-serif;
          color: #000000;
          font-family: "Nunito", sans-serif;
          font-weight: 300;
          padding-left: 48px; }
        header .logo .menu .phone a {
          font-family: "Nunito", sans-serif;
          font-weight: 600;
          font-size: 25px;
          color: #e53a81; }
  header #carouselExampleIndicators {
    height: 330px;
    width: 56%;
    margin-left: auto;
    margin-top: 55px; }
    header #carouselExampleIndicators p {
      font-weight: 700;
      font-size: 50px;
      color: #000000;
      text-align: center; }
    header #carouselExampleIndicators .carousel-inner {
      text-align: center; }
@-webkit-keyframes MyAnimation2 {
  from {
    background-color: #9eb8ff; }
  50% {
    background-color: #c06ffd; }
  to {
    background-color: #e53a81;
    color: #FFFFFF; } }
@keyframes MyAnimation2 {
  from {
    background-color: #9eb8ff; }
  50% {
    background-color: #c06ffd; }
  to {
    background-color: #e53a81;
    color: #FFFFFF; } }
      header #carouselExampleIndicators .carousel-inner a {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #000000;
        border: solid #9490b5;
        display: inline-block;
        padding: 4px;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-animation: MyAnimation2 5s infinite;
                animation: MyAnimation2 5s infinite; }
      header #carouselExampleIndicators .carousel-inner a:hover {
        color: #FFFFFF;
        background: #8397bb; }
    header #carouselExampleIndicators .carousel-control-next-icon {
      background: url(../IMG/strelkaR.svg); }
    header #carouselExampleIndicators .carousel-control-prev-icon {
      background: url(../IMG/strelkaL.png); }

#market {
  height: 250px;
  padding-top: 85px; }
  #market .loader-container {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #BDE2E0;
    border-radius: 50%;
    border: 15px solid #D7695A;
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 100px;
    overflow: hidden; }
@-webkit-keyframes load {
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); } }
@keyframes load {
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); } }
  #market .loader {
    -webkit-animation: load 11s steps(11, end) infinite;
            animation: load 11s steps(11, end) infinite; }
  #market h3 {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 600; }
    #market h3 span {
      color: #e53a81;
      font-weight: 600;
      font-size: 65px; }

.business {
  text-align: center;
  margin-top: 43px; }
  .business h1 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 50px; }
  .business .row:last-child {
    margin-top: 66px; }
    .business .row:last-child .col {
      padding: 0px; }
      .business .row:last-child .col .dropdown {
        background: #f3f3f3; }
        .business .row:last-child .col .dropdown a {
          color: black;
          font-size: 20px;
          font-weight: bold;
          background: none;
          border: none; }
        .business .row:last-child .col .dropdown .dropdown-menu {
          background: #bdbdc5; }
          .business .row:last-child .col .dropdown .dropdown-menu li {
            margin-bottom: 2px;
            background: #dddde2; }
          .business .row:last-child .col .dropdown .dropdown-menu li:hover {
            background: #e53a81; }
          .business .row:last-child .col .dropdown .dropdown-menu a {
            font-family: "Nunito", sans-serif;
            font-size: 14px;
            font-weight: 400; }
      .business .row:last-child .col .dropdown:hover {
        background: #e53a81; }
    .business .row:last-child .col:nth-child(even) {
      background-color: #f3f3f3; }

.comertion {
  padding-bottom: 30px;
  background: url(../IMG/bg-form-block.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding-top: 90px; }
  .comertion h1 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 59px;
    text-shadow: 2px 2px 3px gray; }
  .comertion h2 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #e53a81;
    text-shadow: 2px 2px 3px gray; }
  .comertion input[type="text"] {
    width: 300px;
    border: none;
    margin-bottom: 8px;
    padding: 6px;
    border-radius: 18px; }
  .comertion input[type='checkbox'] {
    width: 20px;
    height: 20px;
    vertical-align: -3px; }
  .comertion select {
    width: 300px;
    border: none;
    padding: 6px;
    border-radius: 18px; }
  .comertion textarea {
    width: 300px;
    border: none;
    padding: 6px;
    border-radius: 10px; }
  .comertion input[type='submit'] {
    width: 300px;
    border: none;
    padding: 6px;
    border-radius: 10px;
    background: #afa9ff; }
  .comertion p {
    font-weight: 600;
    font-size: 25px;
    margin-top: 15px; }

.company {
  margin-top: 45px;
  text-align: center; }
  .company h2 {
    color: #e53a81;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 45px;
    text-shadow: 2px 2px 3px gray; }
  .company h5 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400; }
  .company .company-everything {
    background: url(../IMG/logo-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover; }
    .company .company-everything a {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600; }
    .company .company-everything a:hover {
      text-shadow: 2px 2px 3px gray;
      color: #000000; }
  .company .row {
    padding: 32px; }
    .company .row img {
      height: 70px;
      padding-bottom: 20px;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    .company .row img:hover {
      -webkit-transform: scale(1.4);
              transform: scale(1.4); }

.leaders {
  text-align: center;
  margin-top: 70px; }
  .leaders h3 {
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 3px gray; }
  .leaders h5 {
    font-weight: 400;
    margin-top: 30px; }
    .leaders h5 span {
      color: #e53a81; }
  .leaders .leaders-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .leaders .leaders-logo img {
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .leaders .leaders-logo img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
    .leaders .leaders-logo .popup-fade, .leaders .leaders-logo .popup-fade1, .leaders .leaders-logo .popup-fade2, .leaders .leaders-logo .popup-fade3, .leaders .leaders-logo .popup-fade4, .leaders .leaders-logo .popup-fade5 {
      display: none; }
    .leaders .leaders-logo .popup-fade:before, .leaders .leaders-logo .popup-fade1:before, .leaders .leaders-logo .popup-fade2:before, .leaders .leaders-logo .popup-fade3:before, .leaders .leaders-logo .popup-fade4:before, .leaders .leaders-logo .popup-fade5:before {
      content: '';
      background: #000;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      z-index: 9999; }
    .leaders .leaders-logo .popup, .leaders .leaders-logo .popup1, .leaders .leaders-logo .popup2, .leaders .leaders-logo .popup3, .leaders .leaders-logo .popup4, .leaders .leaders-logo .popup5 {
      position: fixed;
      top: 20%;
      left: 50%;
      padding: 20px;
      width: 360px;
      margin-left: -200px;
      background: #fff;
      border: 1px solid orange;
      border-radius: 4px;
      z-index: 99999;
      opacity: 1; }
    .leaders .leaders-logo .popup-close, .leaders .leaders-logo .popup-close1, .leaders .leaders-logo .popup-close2, .leaders .leaders-logo .popup-close3, .leaders .leaders-logo .popup-close4, .leaders .leaders-logo .popup-close5 {
      position: absolute;
      top: 10px;
      right: 10px; }

iframe {
  width: 100%;
  margin-top: 65px; }

.logo-footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo-footer .logo i {
    color: #e53a81;
    font-size: 25px;
    margin-right: 10px; }
  .logo-footer .logo div, .logo-footer .logo img[alt=logo] {
    padding: 30px; }
  .logo-footer .logo p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: #000000; }
  .logo-footer .logo a {
    color: #ff5656; }
  .logo-footer .logo .phone > a {
    font-weight: 600;
    font-size: 25px;
    color: #e53a81; }

footer {
  background: #3b2e3b; }
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    footer .footer .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 18px; }
      footer .footer .menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        footer .footer .menu ul li {
          padding-right: 20px;
          font-size: 17px; }
          footer .footer .menu ul li a {
            color: #FFFFFF;
            font-weight: 400; }
    footer .footer i {
      font-size: 25px;
      color: #FFFFFF;
      padding-left: 10px; }
  footer h6 {
    color: #FFFFFF;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-left: 31px; }

/*# sourceMappingURL=style.css.map */