@import "variables";

    .col-9{
        padding-left: 30px;
        border-left: solid 5px #e8e8ea;
        margin-top: 40px;
       
       
       
        .text{
            font-weight: bold;
            color:$hGrey;
        }
        .underlined{
            font-weight: 700;
            font-size: 19px;
            text-decoration: underline;
        }
        h1{
            font-weight: 700;
        } 
        li{
            list-style-type: circle;
        }

}

