@import "variables";

    .col-9{
        padding-left: 30px;
        border-left: solid 5px #e8e8ea;
        margin-top: 40px;
       
        p{
            padding-top: 12px;
            i{
                color:$pink;
                font-size: 25px;
                margin-right: 10px;

            }
        }
       
        span{
            font-weight: bold;
            color: $hGrey;
            }
        h1{
            font-weight: 700;
            } 
        .tel{
            color: $pink;
            font-weight: 400;
            font-size: 28px;
        }
        .mail{
            color:$red;
            font-weight: 400;
        }
        iframe{
            margin-top: 20px;
        }
        

}

