// colors
$black: #000000;
$pink: #e53a81;
$white: #FFFFFF;
$hGrey: #4d4d4d;
$red: #ff5656;
$grey:#f3f3f3;


// font size
$size-big: 38px;
$text-size: 16px;
$size-small: 14px;

// font family
$f-family-rob: 'Nunito', sans-serif;
$f-family-pro: 'Source Sans Pro', sans-serif;
